<style>
    p { font-family: 'Courier New', Courier, monospace }
</style>
<a href="/">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAF5SURBVGhD7dm/K0VhHMfxi1B+m1hIBiYl5Ocmg4lSTAzKaCW7QYlBymRSSgalJGWgZMN/oMwGKSm/eX+euO656WZ8vnzf9er2nLvcp9M9ne85KS/yStGI/LAyWBXmcYN3VMJknTjGPkxvJO/zcwGmN/JVro1os9WRKkGiXBvRMX0XozUkyrWRCuhiEKMlJPoX/xFTtWAUhWHleZ7neb9Lg1Q/pjGCIphsB8+4wivOUQxzdUNTohqHblPGwspw7dBGJsPKcCt4QF1YfVcAbTJG9Ug0hBfMhlUyM4PVMB6xiq8ZPrMynEVqDqEJ6Kp1iA7odDXDXG/IPl0nMNdPTybK4Xme53m/qRfL2MIism8YzbSOI2ziFpcw+fot80dr3NUtSk1YGawWXTjFgQ5YbQ86E9fo0YGs9GBbD7hj1IZ0mjeasIF7NCAzU2+sVCv05VRYfaf3dNuRSv/WGQygD7vQpGhusNK7QU2Gd3jCBQZhOj0p8Tzvz5VKfQAy+SOTUWMmcgAAAABJRU5ErkJggg==">
    <h4><p style="color:black">The Perplexed Sphex</p></h4>
</a>